<%- include ('partials/header.ejs') %>

  <%- include ('partials/main_nav.ejs') %>



  <script defer src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
    <main class="container">
      <link rel="stylesheet" href="/css/style .css">
      <div class="jumbotron">

        <h1 class="display-4">Welcome to <%= title %> page</h1>

        <p>Hello, I am Yuta. I make website and application.</p>
        <p>Nice to meet you.</p>
        <strong>Mission</strong>
        <p>・I have never worked as a programmer and would like to gain experience.</p>
        <p>・I want to work where my knowledge and skills can be fully.</p>
        <p>・I want to work from home in the future.</p>
      </div>

    </main>

    <!--bottom nav-->

    <!--script section-->

    <%- include ('partials/bottom_nav.ejs') %>

      <%- include ('partials/footer.ejs') %>
